In [77]:
import pandas as pd
import numpy as np

pokemon = pd.read_csv('https://raw.githubusercontent.com/lgreski/pokemonData/master/Pokemon.csv', index_col=1)
games = pd.read_csv('clean_games.csv', index_col=0)

Examine the first few rows of each dataframe. What is the **index** for each?

In [78]:
# Examine the dataframes here:

pokemon.info

games.info

<bound method DataFrame.info of                                             Name  Year  Weight  AvgRating  \
BGGId
1                                     Die Macher  1986  4.3206    7.61428
2                                   Dragonmaster  1981  1.9630    6.64537
3                                        Samurai  1998  2.4859    7.45601
4                                 Tal der KÃ¶nige  1992  2.6667    6.60006
6                             Mare Mediterraneum  1989  3.0000    6.55370
...                                          ...   ...     ...        ...
346965                      Azul: Queen's Garden  2021  3.0714    7.67076
347146                                   Salvage  2021  0.0000    7.45000
347521  Blitzkrieg!: World War Two in 20 Minutes  2019  1.6667    7.92276
348955       Rock Paper Scissors: Deluxe Edition  2021  4.5625    6.96970
349131                                  Splitter  2021  1.0000    6.48235

        MinPlayers  MaxPlayers  NumRatings  Kickstarted   Rank  Category
BGGId
1                3           5        5354            0    316  Strategy
2                3           4         562            0   3993  Strategy
3                2           4       15146            0    224  Strategy
4                2           4         340            0   5345  Thematic
6                2           6          81            0  10766  Thematic
...            ...         ...         ...          ...    ...       ...
346965           2           4         224            0   4556  Thematic
347146           3           4          34            0  13730  Thematic
347521           1           2          45            0  21926  Thematic
348955           1           3          66            1  11507  Thematic
349131           1          12          51            0  13460  Thematic

[20447 rows x 10 columns]>

`pokemon` index: 'Name'

`games` index: 'BGGId'

Use `pd.pivot_table` to create a dataframe that displays a count of the number of Pokemon of each *primary* type within each generation. Specifically, the rows should represent primary type, the columns should represent the generation, and the values are a count of the number of Pokemon for each type/generation combo.

In [79]:
# Your code here
pd.pivot_table(pokemon, index = 'Type1', values = 'ID', columns = 'Generation', aggfunc = 'count')

Generation     1     2     3     4     5     6     7     8     9
Type1
Bug         12.0  10.0  12.0  12.0  18.0   7.0   9.0   4.0   7.0
Dark         NaN   5.0   4.0   3.0  13.0   6.0   5.0  12.0   8.0
Dragon       3.0   NaN   7.0   3.0   9.0  10.0   5.0   4.0   8.0
Electric     9.0   6.0   4.0  12.0   8.0   5.0   7.0  13.0   9.0
Fairy        2.0   5.0   NaN   1.0   NaN   9.0   1.0   6.0   7.0
Fighting     7.0   2.0   4.0   2.0   7.0   5.0   4.0  13.0   6.0
Fire        12.0   8.0   7.0   5.0   9.0  12.0   7.0   8.0   7.0
Flying       NaN   NaN   NaN   NaN   2.0   2.0   NaN   4.0   2.0
Ghost        3.0   1.0   4.0   7.0   5.0  12.0   5.0   5.0   5.0
Grass       12.0   9.0  12.0  14.0  15.0   8.0  13.0  10.0  12.0
Ground       8.0   3.0   6.0   4.0  10.0   1.0   4.0   6.0   4.0
Ice          2.0   4.0   7.0   3.0   6.0   3.0   4.0  11.0   3.0
Normal      22.0  15.0  18.0  17.0  18.0   8.0  13.0   7.0  13.0
Poison      14.0   1.0   3.0   6.0   2.0   2.0   8.0   5.0   4.0
Psychic      8.0   7.0  11.0   7.0  14.0  10.0  10.0  13.0   2.0
Rock         9.0   4.0   8.0   6.0   6.0  11.0  12.0   4.0   7.0
Steel        NaN   2.0   9.0   3.0   4.0   9.0   4.0   8.0   4.0
Water       28.0  18.0  25.0  13.0  19.0  11.0  11.0  14.0  11.0

Use `pd.pivot_table` to create a dataframe that displays the average *number* of reviews for games broken down by category between 2001 and 2021. The categories should be the row labels.

In [81]:
# Your code here
games = games[(games['Year'] >= 2001) & (games["Year"] <=2021)]
pd.pivot_table(games, index = 'Category', values = 'NumRatings', columns = 'Year')

Year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Category,,,,,,,,,,,,,,,,,,,,,
Abstract,496.260870,456.966667,581.866667,588.837838,502.058824,268.625000,268.488372,219.457143,128.612903,283.076923,...,388.800000,765.250000,1707.000000,305.142857,445.937500,612.352941,859.250000,1109.777778,275.200000,673.000000
CGS,365.909091,677.875000,188.692308,669.818182,196.571429,346.200000,151.428571,317.428571,1087.000000,659.250000,...,5903.375000,225.833333,1814.700000,2048.166667,1416.250000,2515.000000,5256.000000,6941.500000,NaN,696.000000
Childrens,213.964286,220.040000,317.137931,146.125000,381.222222,136.320000,182.640000,108.393939,251.452830,154.848485,...,421.571429,632.750000,787.714286,408.857143,681.500000,644.833333,285.500000,272.500000,398.500000,NaN
Family,1249.972222,1555.058824,2502.216216,4851.536585,2664.690909,1217.708333,1968.953846,1313.540541,1849.890411,1879.083333,...,2492.926316,2406.031579,3573.561224,1972.585859,3099.126316,4449.344828,2999.722222,2186.458333,1160.072727,861.523810
Party,1893.142857,3134.615385,757.727273,2132.666667,3830.727273,913.083333,766.000000,4233.368421,4127.320000,2934.800000,...,4388.260870,2107.542857,4184.190476,5305.730769,2560.066667,1572.730769,2433.000000,1378.000000,961.375000,684.000000
Strategy,1376.172414,3120.952381,2399.888889,3379.033333,2971.311475,3487.333333,5209.850000,5098.828947,3293.053191,3504.383838,...,3670.965812,2659.312500,3909.816667,3646.790850,4285.442623,2927.788136,3096.191304,2810.247706,1854.869048,943.756098
Thematic,669.623932,259.007353,270.842391,517.340807,711.500000,213.161017,554.786611,607.476000,378.112360,462.990909,...,586.347548,330.729367,382.761347,541.158568,421.313603,426.724480,305.765107,279.214575,241.644699,177.104240
War,339.811321,222.056604,186.901639,646.125000,207.367089,365.775000,230.439024,303.737864,282.989796,224.508065,...,411.932692,366.290698,192.350000,167.260870,191.894118,210.901099,212.567901,166.349398,95.813333,87.482759